<h2>Product Details</h2>

<div *ngIf="product">
  <div>
    <div class="slideshow-container">
      <div>
        <ngb-carousel >
          <ng-template ngbSlide *ngFor="let photo of product.photos" >
            <div class="picsum-img-wrapper">
              <img [src]="photo" alt="Random first slide" width="%100" height="%100">
            </div>
            
          </ng-template>
        </ngb-carousel>
      </div>
      
      
    </div>
    
   
    <div id="rightbox">
      <h2>{{ product.name }}</h2>
      <h3> <a href="#"> Distributor Information</a></h3>
      <p>{{ product.description }}</p>

      <h4>{{ product.price | currency }}</h4>
      
      <button type="button" >Buy</button>  <span><button type="button" >Add To Favorites</button> </span>
    </div>


  </div>

  <app-comment-list></app-comment-list>
  
</div>