
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 50%;
  height: 50%;
  position: relative;
  padding: 5px;
  border: 1px solid black;
  object-fit: scale-down;
 

}
/* Filtering table demo */
ngbd-table-filtering span.ngb-highlight {
  background-color: yellow;
}

/* Complete table demo */
ngbd-table-complete span.ngb-highlight {
  background-color: yellow;
}

ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 60%; /* Keep ratio for 900x500 images */
}

ngb-carousel .picsum-img-wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
