<div class="container mt-2">
  <button class="btn btn-primary" (click)="downloadAsPDF()">Export To PDF</button>
</div>
<div class="container mt-5 mb-3" id="pdfTable" #pdfTable>
  <div class="row d-flex justify-content-center">
      <div class="col-md-8">
          <div class="card">
              <div class="d-flex flex-row p-2">
                  <div class="d-flex flex-column"> <span class="font-weight-bold">Tax Invoice</span></div>

              </div>

              <hr>
              <div class="table-responsive p-2">
                  <table class="table table-borderless">
                      <tbody>
                          <tr class="add">
                              <td>To</td>
                              <td>From</td>
                          </tr>
                          <tr class="content">
                              <td class="font-weight-bold">Google <br>Attn: Jassa Smith Pymont <br>Australia</td>
                              <td class="font-weight-bold">Facebook <br> Attn: Jassa Right Polymont <br> USA</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <hr>
              <div class="products p-2">
                  <table class="table table-borderless">
                    <tbody>

                    <tr class="content">
                      <div *ngFor="let product of products">
                        <td>{{product.name}} - {{product.model}}</td>
                        <td>{{product.size}}</td>
                        <td>{{product.price}}</td>
                      </div>
                    </tr>




                    </tbody>
                  </table>
              </div>
              <hr>
              <div class="products p-2">
                  <table class="table table-borderless">
                      <tbody>
                          <tr class="add">
                              <td></td>
                              <td>Subtotal</td>
                              <td class="text-center">Total</td>
                          </tr>
                          <tr class="content">
                              <td></td>
                              <td>${{grandTotal}}</td>
                              <td class="text-center">${{grandTotal}}</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <hr>
              <div class="address p-2">
                  <table class="table table-borderless">
                      <tbody>
                          <tr class="add">
                              <td>Bank Details</td>
                          </tr>
                          <tr class="content">
                              <td> Bank Name : ADS BANK <br> Swift Code : 00220022 <br> Account Holder : Jassa Pepper <br> Account Number : 6953PO789 <br> </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
