  .defaultcolor{
    position: relative;
    display: inline-block;
    color: gray;
    
  }
  
  .paintedcolor {
    position: relative;
    display: inline-block;
    color: #FFD700;

  }