<div class="card-top container-fluid">
  <div style=" height:100px;" class="container d-flex">
      <div style="height: 100px; margin-top: 10px;"  class="item">
          <a  (click)="filter('')">
            <i style="display:inline-table; align-items: center; width: 30px; margin-top: 5px; margin-right: 5px;  margin-left:5px; " class="fa-solid fa-cubes-stacked fa-3x">
              <h3>All products</h3>
            </i>
          </a>
      </div>
      <div style="height: 100px; margin-top: 10px;" class="item">
          <a (click)="filter('daily')">
            <i style="display:inline-table; align-items: center; width: 30px; margin-top: 5px; margin-left:5px; margin-right: 5px;" class="fa-solid fa-calendar-days fa-3x">
              <h3>Daily</h3>
            </i>
          </a>
      </div>
      <div style="height: 100px; margin-top: 10px;" class="item">
          <a (click)="filter('slipper')">
            <i style="display:inline-table; align-items: center; width: 30px; margin-top: 5px; margin-right: 5px;  margin-left:5px; " class="fa-brands fa-stripe-s fa-3x">
              <h3>Slipper</h3>
            </i>
          </a>
      </div>
      <div style="height: 100px; margin-top: 10px;" class="item">
        <a (click)="filter('Running')">
          <i style="display:inline-table; align-items: center; width: 30px; margin-top: 5px; margin-right: 5px;  margin-left:5px; " class="fa-solid fa-person-running fa-3x">
            <h3>Running</h3>
          </i>
        </a>
      </div>
      <div style="height: 100px; margin-top: 10px;" class="item">
        <a (click)="filter('basketball')">
          <i  style="display:inline-table; align-items: center; width: 30px; margin-top: 5px; margin-right: 5px;  margin-left:5px; " class="fa-solid fa-basketball fa-3x">
            <h3>Basketball</h3>
          </i>
        </a>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Sort</mat-label>
      <mat-select>
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">

      <div class="card col-md-3">
        <img src="{{item.photos[0]}}" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.name}}</h5>
        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
        
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
            <span class="half" [style.width.%]="fill">&starf;</span>&starf;
          </span>
        </ng-template>

        <ngb-rating style="margin: 10px auto;"  [rate]="item.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
        
        <p><span class="price">{{ item.price | currency }} </span></p>
        <a [routerLink] ="['product', item.id]"><button class="btn btn-primary btn1"  (click)=addtocart(item)>See Details</button></a>
        <button class="black_button" (click)=addtocart(item)>Add to cart</button>
        

      </div>

    </ng-container>

  </div>
</div>
