<div class="card-top container-fluid">
  <div style=" height:100px;" class="container d-flex">
      <div style="height: 100px; margin-top: 10px;"  class="item">
          <a  (click)="filter('')">
            <i style="width: 30px; margin-top: 5px; margin-right: 5px;  margin-left:5px; " class="fa-solid fa-cubes-stacked fa-3x">
              <h3>All products</h3>
            </i>
          </a>
      </div>
      <div style="height: 100px; margin-top: 10px;" class="item">
          <a (click)="filter('daily')">
            <i style="width: 30px; margin-top: 5px; margin-left:5px; margin-right: 5px;" class="fa-solid fa-calendar-days fa-3x">
              <h3>Daily</h3>
            </i>
          </a>
      </div>
      <div style="height: 100px; margin-top: 10px;" class="item">
          <a (click)="filter('slipper')">
            <i style="width: 30px; margin-top: 5px; margin-right: 5px;  margin-left:5px; " class="fa-brands fa-stripe-s fa-3x">
              <h3>Slipper</h3>
            </i>
          </a>
      </div>
      <div style="height: 100px; margin-top: 10px;" class="item">
        <a (click)="filter('Running')">
          <i style="width: 30px; margin-top: 5px; margin-right: 5px;  margin-left:5px; " class="fa-solid fa-person-running fa-3x">
            <h3>Running</h3>
          </i>
        </a>
      </div>
      <div style="height: 100px; margin-top: 10px;" class="item">
        <a (click)="filter('basketball')">
          <i style="width: 30px; margin-top: 5px; margin-right: 5px;  margin-left:5px; " class="fa-solid fa-basketball fa-3x">
            <h3>Basketball</h3>
          </i>
        </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">

      <div class="card col-md-3">
        <img src="{{item.image}}" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
        <p><strong>Price:</strong> ${{item.price}}</p>
        <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
      </div>

    </ng-container>

  </div>
</div>