<header>
  <div class="navbar bg-primary shadow-sm">
    <div class="navbar-brand slign-item-center d-flex">
      <i style="font-size: 40px; color: white;" class="fa-solid fa-shoe-prints">&nbsp;

      </i>
      <strong style="font-size: 30px; color: white;">ShoeStore</strong>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search product">
      </div>
      <span class="fas fa-search search-icon"> </span>
    </div>

    <button class="btn btn-primary" routerLink="cart">
      <i style="font-size: 30px;" class="fa-solid fa-cart-plus"></i>
      <div style="font-size: 10px;" class="badge bg-danger"> {{ totalItem }} </div>
    </button>

  </div>
</header>