
#leftbox {
    float:left; 
    background:Red;
    width:25%;
    height:280px;
}
#middlebox{
    float:left; 
    background:Green;
    width:50%;
    height:280px;
}
#rightbox{
    float:right;
    background:whitesmoke;
    width:40%;
    height:280px;
   
}
h1{
    color:green;
    text-align:center;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    height: 1000px;
    position: relative;
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .black_button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 96%;
    font-size: 18px;
    position: absolute;
    left: 2%;
    bottom: 1%;
 


  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .product-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
  }



/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: Poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
    
     font-size: 22px;
     color: #c25405;
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.header_section{
	width: 100%;
	float: left;
	
	height: auto;
	padding: 20px 0px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.padding_0{ width: 100%; float: left; }

.mens_taital{ width: 100%; float: left; color: #908d92; font-size: 14pt; }
.mens_taital_2 {
    width: 100%;
    float: left;
    color: #908d92;
    font-size: 14pt;
    margin-top: 150px;
}
.page_no {
    width: 28%;
    /* margin: 0 auto; */
    text-align: center;
    color: #ffffff;
    border: 2px solid #8d8791;
    border-radius: 30px;
    margin-top: 150px;
    padding-bottom: 10px;
    display: inline-block;
    padding-top: 12px;
    margin-left: 30px;
}
.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16pt;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #db5660;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.9rem;
    padding-left: 1.6rem;
}

	
.last{ padding-left: 30px !important; }
.banner_text{
	width: 100%;
	float: left;
	font-size: 30pt;
	color: #db5660;
}

.mens_text{
	width: 100%;
	float: left;
	font-size: 39pt;
	color: #fdfcfc;
	line-height: 40px;
}
.lorem_text{
	width: 100%;
	float: left;
	font-size: 13pt;
	color: #fefefe;
	margin-left: 0px;
}

.buy_bt{ 
	width: 32%;
	height: 50px;
	color: #ffffff;
	background-color: #ff4e5b;
	color: #ffffff;
	font-size: 16pt;
 }

 .more_bt{
	width: 32%;
	height: 50px;
	color: #ffffff;
	background-color: #ffffff;
	color: #ff4e5b;
	font-size: 16pt;
	margin-left: 25px;
 }

.banner_taital{
	width: 100%;
	float: left;
	margin-top: 85px;
}

body{
    width:100%;
    height:100%;
}
.carousel-inner,.carousel,.carousel-item,.container,.fill {
    height:100%;
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;
    
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;
    
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:-84px; 
    left:auto;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-indicators li{
    display:block; margin-bottom:5px; border:1px solid #00a199; 
    margin-bottom: 5px;
    
}
.carousel-indicators li.active{
    margin-bottom:5px; background:#00a199;
    
}

.collection_section{ width: 100%; float: left; padding-bottom: 0px; }
.new_text{
	width: 100%;
	float: left;
	font-size: 24pt;
	color: #0c0116;
}

.consectetur_text{
	width: 100%;
	float: left;
	font-size: 14pt;
	color: #0c0116;
	font-weight: 400;
	margin-left: 0px;
    padding-bottom: 30px;
}

.collection_section_2{
	width: 100%;
	float: left;
}

.about-img {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    margin-left: 64px;
    box-shadow: 0px 0px 10px 0px;
    position: relative;
    z-index: 1;
}
.new_bt{
	width: 18%;
	float: left;
	background-color: #000;
	font-size: 14pt;
	text-align: center;
	color: #ffffff;
	height: 50px;
	margin-left: -60px;
}

.shoes-img{
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0px;
}

.sport_text {
    width: 24%;
    text-align: center;
    padding-top: 30px;
    font-size: 16pt;
    color: #0c0116;
    border-bottom: 1px;
    margin: 0 auto;
}
.dolar_text{
	width: 100%;
	float: left;
	text-align:center;
	color: #000;
	font-size: 20pt;
}
.star_icon{ width: 25%; margin: 0 auto; text-align: center; }
.star_icon ul{ margin: 0px; padding: 0px;} 
.star_icon li{ float:left; padding-right:10px; padding-bottom: 25px;}

.about-img2{
	width: 100%;
	float: left;
	
	height: auto;
	box-shadow: 0px 0px 10px 0px;
	margin-left: -50px;
    margin-top: 74px;
}


.shoes_img{ width: 100%; float: left; padding-top: 30px; }

.shoes-img2{
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 40px;
	margin: 0px
}

.seemore_bt{
	width: 32%;
	height: 50px;
	color: #ffffff;
	background-color: #ff4e5b;
	color: #ffffff;
	font-size: 16pt;	
	margin-top: 35px;
    margin-bottom: 90px;
}

.collectipn_section_3{ width: 100%; float: left; padding-top: 0px;}
.racing_shoes {
    width: 100%;
    float: left;
    background-color: #eae7e7;
    height: auto;
    padding-top: 70px;
    background-size: 100%;
    padding-bottom: 70px;
}
.shoes-img3{ width: 100%; float: left; text-align: center; }

.collection_text{ 
    width: 100%; 
    float: left; 
    color: #ffffff; 
    text-align: center; 
    font-weight: bold; 
    font-size: 40px; 
    background-color: #db5660;
    padding: 30px 0px;  
}

.sale_text{
	width: 100%;
	float: left;
	font-size: 45pt;
	color: #ed2540;
	line-height: 75px;
}

.number_text{
	width: 100%;
	float: left;
	font-size: 45pt;
	color: #ed2540;
	line-height: 75px;

}

.seemore{
	width: 50%;
	height: 50px;
	color: #ffffff;
	background-color: #ff4e5b;
	color: #ffffff;
	font-size: 16pt;	
	margin-top: 35px;
}

.gallery_section{
	width: 100%;
	float: left;
	background-color: #c25405;
	height: 100%;

}

.best_shoes {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    padding: 20px 20px 20px 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.product_text{
	width: 100%;
	float: left;
	font-size: 20pt;
	color: #c25405;;
	text-align: center;
    margin-left: 0px;
}
.shoes_icon{
	width: 100%;
	float: left;
	text-align: center;
	min-height: 220px;
}

.star_text{
	width: 100%;
	float: left;
}
.left_part {
    width: 60%;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}
.left_part ul{ margin: 0px; padding: 0px; }
.left_part li{ float: left; padding-left: 10px; }
.right_part{ width: 40%; float: left; }
.shoes_price{ 
	width: 100%; 
	float: left; 
	font-size: 22pt; 
	color: #0f0d10; 
	text-align: right;
}

.buy_now_bt{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.buy_text{
	width: 32%;
	height: 50px;
	color: #ffffff;
	background-color: #131111;
	color: #ffffff;
	font-size: 16pt;	
	margin-top: 35px;
}

.contact_section{
	width: 100%;
	float: left;
}
.email_box {
    width: 85%;
    float: right;
    background-color: #14120e;
    height: auto;
    padding: 20px 20px;
    opacity: 0.80;
}
.form-group {
    margin-bottom: 2rem;
}

.email-bt {
    border: 1px solid #000;
    color: #000000;
    width: 100%;
    height: 55px;
    font-size: 22px;
    padding: 20px;
}

.massage-bt {
    border: 1px solid #000;
    color: #000000;
    width: 100%;
    height: 200px;
    font-size: 22px;
    padding: 70px 20px 10px 20px;
}

.send_btn {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.main_bt {
    background: #ff4e5b;
    border: none;
    width: 170px;
    height: 58px;
    font-size: 26px;
    color: #ffffff;
}
.ram{
	width: 100%; 
	float: left;
}

a:hover {
    color: #c25405;
}

.shop_banner{
	width: 100%;
	float: left;

	height: auto;
	padding: 70px;
}

.our_shop {
    width: 100%;
    float: left;
    padding-top: 205px;
    padding-bottom: 205px;
}
.out_shop_bt {
    width: 40%;
    margin: 0 auto;
    background-color: #ffffff;
    color: #131111;
    text-align: center;
    font-size: 20pt;
    display: block;
}

.section_footer {
    width: 100%;
    float: left;
    background-color: #272222;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.mail_section {
    width: 100%;
    float: left;
}
.footer-logo {
    float: left;
    font-size: 12pt;
    color: #fdfefe;
}

.mail_section li {
    float: left;
    font-size: 12pt;
    color: #fdfefe;
    padding-right: 35px;
}
.footer_section_2 {
    width: 100%;
    float: left;
    padding-top: 20px;
}
.shop_text {
    width: 100%;
    float: left;
    font-size: 28px;
    color: #ebebeb;
}
.dummy_text {
    width: 100%;
    float: left;
    font-size: 12pt;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 55px;
    line-height: 25px;
}
.image-icon {
    width: 100%;
    float: left;
    padding-top: 6px;
}
.pet_text {
    font-size: 12pt;
    color: #ffffff;
    padding-left: 16px;
    display: flex;
    top: -26px;
    position: relative;
    padding-left: 20px;
}
.adderess_text {
    width: 100%;
    float: left;
    font-size: 28px;
    color: #ebebeb;
}

.copyright {
    width: 100%;
    float: left;
    font-size: 12pt;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    background-color: #ff4e5b;
    font-family: Poppins;
}

.copyright a{ color: #ffffff; }
.copyright a:hover{ color: #000; }

.map_text {
    padding-left: 15px;
}

.delivery_text{
	width: 100%;
	float: left;
	font-size: 17px;
	color: #ffffff;
}

.enter_email{
    border: 1px solid #000;
    color: #000000;
    width: 100%;
    height: 44px;
    font-size: 14px;
    padding: 20px;
}

.subscribr_bt {
    width: 80%;
    float: right;
    background-color: #ff4e5b;
    font-size: 13pt;
    height: 50px;
    color: #ffffff;
}


.about_main {
    width: 100%;
    float: left;
        padding-bottom: 30px;
}

.header_main {
    width: 100%;
    height: auto;
    background: #0c0116;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* 
 * ----------------------------
 * Common CSS
 * ----------------------------
 */

 *{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

body{
    font-family:Poppins,sans-serif;
    font-weight:400;
    font-size:16px;
    line-height:1.625;
    color:#666;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

ul{
    margin:0
}

button,input[type=button]{
    cursor:pointer
}

button:focus,input:focus{
    outline:0
}

input{
    border:none
}

button{
    border:none;
    background:0 0
}

img{
    max-width:100%;
    height:auto
}

p{
    margin:0
}

h1,h2,h3,h4,h5,h6{
    color:#333;
    font-weight:700;
    margin:0;
    line-height:1.2
}

h1{
    font-size:36px
}

h2{
    font-size:30px
}

h3{
    font-size:24px
}

h4{
    font-size:18px
}

h5{
    font-size:15px
}

h6{
    font-size:13px
}

a{
    display:inline-block
}

a:active,a:focus,a:hover{
    text-decoration:none;
    outline:0
}

a,a:hover{
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    -moz-transition:all .3s ease;
    transition:all .3s ease
}

/*Layout Css*/
.section-content-p35{
    padding:0 35px
}

.page-wrapper{
    overflow:hidden;
    background:#e5e5e5;
    padding-bottom:8vh
}

.page-container{
    background:#e5e5e5;
    padding-left:200px
}

.main-content{
    padding-top:116px;
    min-height:100vh
}

aside.menu-sidebar.d-none.d-lg-block.clr{
    background:0 0;
    z-index:99999999;
    height:75px;
    box-shadow:-2px 0 4px #0000003b
}

/* 
 * ----------------------------
 * Header Desktop Section
 * ----------------------------
 */

.header-desktop{
    background:#0da8e4;
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
    position:fixed;
    top:0;
    right:0;
    left:200px;
    height:75px;
    z-index:3
}

.header-desktop .section-content{
    overflow:visible;
    position:absolute;
    top:50%;
    left:0;
    right:0;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%)
}

.header-wrap{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}

.header-button{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center
}

.number{
    padding:6px 0
}

.arrows i{
    font-size:30px;
    padding:4px 4px
}

section{
    position:relative
}

.section-content{
    position:relative;
    margin:0 auto;
    z-index:1
}

.section-content-p30{
    padding:0 30px
}

.au-input-xl{
    min-width:935px
}

input.au-input.au-input-xl{
    border-radius:40px!important;
    margin-right:15px
}

.au-input{
    line-height:43px;
    border:1px solid #e5e5e5;
    font-size:14px;
    color:#666;
    padding:0 17px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    -moz-transition:all .5s ease;
    transition:all .5s ease
}

.cart-area.d-n{
    display:block
}

.cart-area i{
    font-size:22px;
    float:left;
    margin-top:16px;
    color:#fff;
    margin-left:15px
}

.total{
    background:#205b8d;
    line-height:43px;
    color:#fff;
    border-radius:30px;
    border:1px solid #0da8e4;
    float:left;
    margin-top:7px;
    padding-left:17px
}

.total span{
    display:inline-block;
    background:#fff;
    padding:0 13px;
    color:#000;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    margin-left:11px
}

.form-header{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex
}

.au-btn-submit{
    position:relative;
    right:0;
    min-width:95px;
    color:#fff;
    border:1px solid #205b8d;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:43px;
    background:#205b8d
}

.au-btn-submit:hover{
    background:#05143f
}

.au-btn-submit>i{
    font-size:20px;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}

/* 
 * ----------------------------
 * Left Menu Bar
 * ----------------------------
 */

.menu-sidebar{
    width:200px;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    background:#fff;
    overflow-y:auto
}

.menu-sidebar .logo{
    background:#fff;
    height:75px;
    padding:0 35px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.1);
    border-right:1px solid #e5e5e5;
    position:relative;
    z-index:3
}

.menu-sidebar .navbar-list .navbar-sub-list{
    display:none;
    padding-left:34px
}

.menu-sidebar .navbar-list .navbar-sub-list li a{
    padding:11.5px 0
}

.menu-sidebar-content{
    position:relative;
    height:-webkit-calc(100vh - 75px);
    height:-moz-calc(100vh - 75px);
    height:calc(100vh - 75px)
}

.navbar-sidebar{
    padding:35px;
    padding-bottom:0
}

.navbar-sidebar .navbar-list li a{
    display:block;
    color:#555;
    font-size:16px;
    padding:5px 0
}

.navbar-sidebar .navbar-list li a i{
    margin-right:19px
}

.navbar-sidebar .navbar-list li a:hover{
    color:#0da8e4
}

/* 
 * ----------------------------
 * Header Mobile Section
 * ----------------------------
 */

.header-mobile{
    position:absolute;
    top:0;
    left:0;
    right:0
}
.header-mobile .header-mobile-bar{
    padding:15px 0;    background: #fff;
}
.header-mobile .header-mobile-inner{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.header-mobile .hamburger{
    width:36px;
    height:36px;
    padding:0;
    line-height:1;
    vertical-align:top;
    background:#fff;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -moz-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.header-mobile .hamburger .hamburger-box{
    width:20px;
    height:15px
}
.header-mobile .hamburger .hamburger-box .hamburger-inner{
    width:20px;
    height:2px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0
}
.header-mobile .hamburger .hamburger-box .hamburger-inner:before{
    width:20px;
    height:2px;
    top:6px
}
.header-mobile .hamburger .hamburger-box .hamburger-inner:after{
    top:12px;
    width:20px;
    height:2px
}
.header-mobile .navbar-mobile{
    display:none;
    position:absolute;
    width:100%;
    top:88px;
    z-index:20
}
.header-mobile .navbar-mobile .navbar-mobile-list{
    background:#f8f8f8
}
.header-mobile .navbar-mobile .navbar-mobile-list>li>a{
    padding-left:15px!important
}
.header-mobile .navbar-mobile .navbar-mobile-list li a{
    color:#555;
    display:block;
    padding:10px 15px;
    padding-right:25px;
    padding-left:0;
    border-bottom:1px solid #e6e6e6;
    text-transform:capitalize;
    line-height:inherit
}
.header-mobile .navbar-mobile .navbar-mobile-list li a:hover{
    color:#0da8e4
}
.header-mobile .navbar-mobile .navbar-mobile-list li a>i{
    margin-right:19px
}
.navbar-mobile-sub-list{
    display:none;
    padding-left:30px;
    background:#fff
}
.header-mobile .navbar-mobile .navbar-mobile-sub-list li a{
    padding-left:15px
}
.header-mobile-2{
    background:#393939;
    position:static
}
.header-mobile-2.header-mobile .navbar-mobile{
    top:82px
}
.header-mobile-2.header-mobile .hamburger{
    background:0 0
}
.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner{
    background:#fff
}
.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner::before{
    background:#fff
}
.header-mobile-2.header-mobile .hamburger .hamburger-box .hamburger-inner::after{
    background:#fff
}
.main-content.page-m{
    padding:10% 15%!important
}

/* 
 * ----------------------------
 * Products List
 * ----------------------------
 */

.product-box img {
    width: 150px;
}

.items select {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: 0;
    margin-left: 5px;
}
.product-box{
    margin-bottom:60px
}
.price{
    margin:15px 0 0;
    font-weight:800;
    color:#0da8e4
}
.product-box h1{
    font-size:18px;
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
    font-weight:600;
    padding-top:12px;
    margin-bottom:7px
}
.product-box h2{
    font-size:15px;
    padding-bottom:0;
    font-weight:500;
    color:#585858
}

/* 
 * ----------------------------
 * Shopping Cart Checkout
 * ----------------------------
 */

.form-area{
    background:#e5e5e5;
    position:relative;
    margin-bottom:45px;
    padding:50px 20px;
    border:3px solid #ccc
}
.form-area h3{
    position:absolute;
    top:-26px;
    left:13px;
    background:#e5e5e5;
    padding:10px 20px;
    font-weight:500;
    z-index:23;
    display:inline-block
}
.input-space{
    margin-bottom:20px
}
.input-space label{
    padding-left:31px;
    font-size:14px;
    margin-bottom:50px
}
.input-space input[type=text]{
    width:100%;
    height:40px;
    border-radius:30px;
    outline:0;
    padding:10px;
    border:1px solid #ccc
}
.input-space select{
    width:100%;
    height:40px;
    border-radius:30px;
    outline:0;
    padding:0 10px;
    border:1px solid #ccc
}
.au-checkbox{
    display:block;
    position:relative;
    cursor:pointer;
    font-size:22px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.au-checkbox input{
    position:absolute;
    opacity:0;
    cursor:pointer
}
.au-checkmark{
    position:absolute;
    top:0;
    left:0;
    height:22px;
    width:22px;
    background-color:#fff!important;
    border:2px solid #e5e5e5;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px
}
.au-checkbox:hover input~.au-checkmark{
    background-color:transparent
}
.au-checkbox input:checked~.au-checkmark{
    background-color:#fff
}
.au-checkmark:after{
    content:"";
    position:absolute;
    display:none
}
.au-checkbox input:checked~.au-checkmark:after{
    display:block
}
label.date{
    padding-top:8px
}
.au-checkbox .au-checkmark:after{
    left:5px;
    top:-1px;
    width:9px;
    height:15px;
    border:solid #0da8e4;
    border-width:0 4px 4px 0;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg)
}
option:first{
    color:#ccc
}
select{
    color:#828482
}

/* 
 * ----------------------------
 * Shopping Cart Details
 * ----------------------------
 */

.table{
    margin:0
}
table.table.table-bordered{
    border:1px solid #ccc;
    background:#fff
}
.table-bordered td,.table-bordered th{
    border:1px solid #dee2e6
}
table.table.table-bordered th{
    BACKGROUND:#0da8e4;
    color:#fff;
    font-size:14px;
    padding:7px
}
.table-responsive{
    padding-right:1px
}
.items select{
    width:100px;
    height:40px;
    border-radius:40px;
    padding-left:15px;
    margin-bottom:10px;
    outline:0;
    margin-left:5px
}

/* 
 * ----------------------------
 * Product Details
 * ----------------------------
 */

 .price{
    margin:15px 0 0;
    font-weight:800;
    color:#0da8e4
}
.detail-section{
    margin-top:60px
}
/**/

/* 
 * ----------------------------
 * Buttons
 * ----------------------------
 */

 .btn-info{
    color:#fff;
    background-color:#0da8e4!important;
    border-color:#0da8e4!important
}
a.primary-btn{
    background:#05143f;
    padding:7px 20px;
    text-align:center;
    display:inline-block;
    color:#fff;
    border-radius:2px;
    font-size:14px;
    margin-top:5px
}
a.primary-btn:hover{
    background:#0da8e4;
    color:#fff
}

.active-link {
  font-weight: bold;
}

/* 
 * ----------------------------
 * Footer section
 * ----------------------------
 */

footer ul li a{
    color:#fff
}
footer{
    background:#232324;
    z-index:1;
    position:relative;
    text-align:center
}
footer li a{
    color:#313131;
    font-weight:500
}
footer ul li{
    display:inline-block;
    font-size:14px;
    padding:10px 20px
}

/* 
 * ----------------------------
 * Media Queries
 * ----------------------------
 */

@media (max-width:1600px){
    .au-input-xl{
        min-width:290px
    }
}
@media (max-width:1315px) and (min-width:992px){
    .header-desktop3 .section-content{
        padding:0 15px
    }
}
@media (max-width:1570px) and (min-width:992px){
    .header-navbar ul li a{
        padding:25px 15px
    }
}
@media (max-width:1315px) and (min-width:992px){
    .header-navbar ul li a{
        font-size:13px;
        padding:27px 15px
    }
    .header-navbar ul li a i{
        margin-right:5px
    }
}

@media (min-width:1200px){
    .container{
        max-width:1320px
    }
}

@media (min-width:992px) and (max-width:1199px){
    .cart-area i{
        font-size:22px;
        float:left;
        margin-top:16px;
        color:#205b8d;
        margin-left:15px
    }
    .header-mobile .header-mobile-bar{
        padding:10px 0;
        background:#fff
    }
    .header-wrap .account-item>.content{
        display:none
    }
}


@media (max-width:991px){
     .section-content-p30{
        padding:0
    }
    .page-container{
        position:relative;
        top:88px;
        padding-left:0
    }
     .page-wrapper{
        background:#e5e5e5;
        padding-bottom:12vh
    }
     .main-content{
        padding-top:50px;
        padding-bottom:100px
    }
     .cart-area.d-n{
        display:none
    }
    .form-header{
        -webkit-box-pack:center;
        -webkit-justify-content:center;
        -moz-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
     .au-input-xl{
        min-width:350px
    }
      .logo{
        text-align:center
    }
    .header-desktop{
        position:relative;
        top:0;
        left:0;
        height:80px
    }
    .header-wrap{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -moz-box-orient:vertical;
        -moz-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .header-button{
        margin-top:30px;
        width:100%;
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -moz-box-pack:justify;
        -ms-flex-pack:justify;
        justify-content:space-between
    }
    .menu-sidebar2{
        top:0;
        right:-300px;
        left:auto;
        -webkit-box-shadow:0 5px 10px 0 rgba(0,0,0,.1);
        -moz-box-shadow:0 5px 10px 0 rgba(0,0,0,.1);
        box-shadow:0 5px 10px 0 rgba(0,0,0,.1)
    }
     .header-desktop2{
        left:0;
        position:relative
    }
     .header-desktop4{
        position:static
    }
     .section-content.section-content-p30.e-spc{
        padding-top:100px
    }
    header.header-desktop.extra{
        top:93px!important
    }
    .cart-area i{
        font-size:22px;
        float:left;
        margin-top:16px;
        color:#205b8d;
        margin-left:15px
    }
        .header-wrap2{
        -webkit-box-pack:justify;
        -webkit-justify-content:space-between;
        -moz-box-pack:justify;
        -ms-flex-pack:justify;
        justify-content:space-between
    }
}


@media (max-width:767px){
      .au-input-xl{
        min-width:150px
    }
    .header-button-item{
        font-size:22px;
        margin-right:15px
    }
        .main-content.page-m{
        padding:10% 0!important
    }
    .header-mobile .navbar-mobile{
        display:none;
        position:absolute;
        width:100%;
        top:66px;
        z-index:20
    }
    .section-content.section-content-p30.e-spc{
        padding-top:100px
    }
    header.header-desktop.extra{
        top:64px!important
    }
    .header-desktop{
        position:relative;
        top:0;
        left:0;
        height:80px
    }
    a.logo img{
        width:110px
    }

    .cart-area i{
        font-size:22px;
        float:left;
        margin-top:16px;
        color:#205b8d;
        margin-left:15px
    }
    .footer-pagination{
        text-align:center
    }
    .product-box{
        text-align:centerg
    }
    .page-container{
        position:relative;
        top:66px;
        padding-left:0
    }
    .au-btn-submit{
        position:relative;
        right:10px;
        min-width:85px;
        color:#fff;
        border:1px solid #205b8d;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:0;
        background:#205b8d
    }
    input.au-input.au-input-xl{
        border-radius:0!important;
        margin-right:0
    }
    .cart-area.d-b{
        display:block
    }
    .cart-area.d-n{
        display:none
    }
    .cart-area i{
        font-size:18px;
        float:left;
        margin-top:16px;
        color:#03a9f4;
        margin-left:15px
    }
    .total span{
        display:inline-block;
        background:#fff;
        padding:0 10px;
        color:#000;
        border-top-right-radius:20px;
        border-bottom-right-radius:20px;
        margin-left:6px
    }
    .total{
        background:#205b8d;
        line-height:30px;
        color:#fff;
        border-radius:30px;
        border:1px solid #205b8d;
        float:left;
        margin-top:9px;
        padding-left:12px
    }
    .header-mobile .header-mobile-bar{
        padding:6px 0;
        background:#fff;
        border:0;
        padding:8px 0
    }
}
